body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-size: 14px;
	background: #F5F5F5;
	color: rgb(51, 51, 51);
}

.chatlog, .wrapper, .heading {
	display: block;
	width: 1610px;
}

.chatlog {
	color: #3A87AD;
	height: 350px;
	overflow: auto;
}

.heading {
	color: #999999;
	height: 20px;
	margin: 0px;
	margin-bottom: 10px;
}

.wrapper {
	height: 380px;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}

input {
	margin: 20px;
	padding: 20px;
	border: 0;
	outline: 0;
	border-bottom: 1px solid #3A87AD;
	min-width: 300px;
}